name: flutter_expandable_table_example
description: A Flutter widget for create an expandable table with header and first column fixed.
version: 1.0.0

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_expandable_table:
    path: ../

flutter:
  uses-material-design: true
